<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new user</title>
</head>
<body>
    <h1>Add new user information:-</h1>
    <form method="post" action="/user/create">
        <input type="text" placeholder="enter username" name="username">
        <br>
        <br>
        <input type="text" placeholder="enter email" name="email">
        <br>
        <br>
        <input type="password" placeholder="set password" name="password">
        <br>
        <br>
        <button>Submit post</button>
    </form>
    
</body>
</html>